{% extends 'base.html'%}
{% load static %}
{% block title %}
Community
{% endblock %}
{% block x %}

<div class="row"><picture style="line-height: 0;"><source type="image/webp" srcset="{% static 'images/s7.jpg'%}"><img class="" width="1500" height="700" src="{% static 'images/45.jpg'%}"></picture>


</div>
<div class="row">
<div class="col-sm-3"></div>
    <div class="col-sm-6 text-center"><h3>SUPERCELL</h3><p>
Supercell is a game company based in Helsinki, Finland, with offices in San Francisco, Seoul and Shanghai. Since our launch in 2010, we've brought five games to the global market – Hay Day, Clash of Clans, Boom Beach, Clash Royale and Brawl Stars. Our dream is to create great games that as many people as possible play for years and that are remembered forever.

Read more about us and our history below.</p></div>

    <div class="col-sm-3"></div>
</div>
<div class="row">


</div>
<div class="row text-center">

    <div class="col-sm-3">

    </div>
    <div class="col-sm-6"><h2>WHY WE ARE HERE</h2>
Supercell was founded on the idea of giving game developers and teams the independence to decide what kinds of games they make and how they choose to make them. Over a decade and five global games later, our dream still stands: to create great games that as many people as possible play for years and that are remembered forever.

We believe games have the power to bring people around the world together and closer to each other. We work to create new, innovative, memorable experiences no one has played before. This is why we try to design games that excite wide and diverse player communities as well as to expand the audience for otherwise smaller “niche” game concepts.

There’s no simple recipe or magic formula to achieve our dream. What we do know, however, is that without players Supercell doesn’t exist. Creating lovable worlds and characters that players want to come back to over and over again is at the heart of how we design and operate our games.

In the end, the question we ask ourselves is: “Are we building something that could be important?”
Uncover more about our culture:
Are Supercell’s best days behind us or ahead of us?

"My take on Supercell in 2020 as we begin our second decade"

10 learnings from 10 years

* In 2010, we believed that creating great games is all about having the best people and providing them with the best possible environment to focus on developing the best games.

However, many years later, we realized that it is not only about having the best individuals/people but having the best teams. A group of great individuals does not automatically make a great team.

The best team is the one with the best people who work extremely well together.

</div>
    <div class="col-sm-3"></div>
</div>
<div class="row text-center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
    <h2> Cross-platform beginnings</h2>
An important part of our original product vision, back in May 2010 when we got started, was the idea of building cross platform gaming services – games that you could log into and play from any device. But later on, our thinking changed completely. If you continue reading, you’ll see why. In short, today we believe that the best quality can only be achieved by focusing on one platform at a time.

Our initial funding came from the founders investing their savings into the company. On top of that, we borrowed as much money as we could from Tekes, the Finnish government’s technology funding arm.

Our first office was in Niittykumpu in Espoo, Finland. It was pretty far from Silicon Valley, but we had everything we needed: one 30-square-meter room, six desks we got from a recycling center, and of course a coffee maker. A bit later on, when we started to hire more people, we managed to fit 15 people to that little room. At some point there was no room for our CEO Ilkka anymore, so he had to move out.<br>
        Ilkka sitting at his cardboard desk at the Espoo office.2010
Ilkka sitting at his cardboard desk at the Espoo office.The first Supercell office: 30-square meters, six tables and a coffee maker.2010
The first office: 30m2, six tables and a coffee maker.Later on there were 15 people in that same little room.2010
Later on there were 15 people in that same little room.

Our first game was called Gunshine.net. It was a real-time massively multiplayer online role-playing game. Remember, our original vision was to create cross-platform gaming services, so the idea was that one day players would be able to enter the world of Gunshine via desktop web, Facebook, tablet and mobile. That said, we had to start from somewhere, and the most logical place was the platform with the widest reach. And at that time, that platform was desktop web and Facebook, so we started to build the game on top of Flash technology.

We managed to launch the private beta version of Gunshine in February 2011, and the open beta launched a few months later. We also started to plan a mobile/tablet version of the game. At its peak in the summer of 2011, Gunshine had around half a million monthly players.

Gunshine screenshot

Unfortunately, we slowly started to realize that Gunshine just wasn’t delivering on our original product vision. There were three reasons why.

Most importantly, despite their initial excitement, players were getting bored with the game after a month or two. The sad truth was that this was not a game that anyone would play for years.

It was too hard to get into the game if you hadn’t played similar types of games before. This game would never become a mass-market phenomenon; a game that would have an impact on the lives of millions of people. Despite all our hard work, we realized Gunshine just wasn't going to be the game we had dreamed of.

<h4>Falling in love with mobile</h4>
When we started planning a mobile version of Gunshine, it quickly became clear that the experience wouldn't be great on the mobile platform. It was too hard to try to replicate the mouse/keyboard experience on touch screens. Also, we realized people play differently on desktop than they do on mobile. Mobile games have to be fun even if you only have a few minutes to play. Gunshine wasn’t.

It also became clear that our problem wasn’t just with Gunshine. We had a big problem with our product strategy, too.

One day, when playing around with some iPads we had ordered to the office, we noticed how all of us had fallen in love with this device. We started to call it “the ultimate games platform”. And we started to understand just how different this platform truly was; if we really wanted to create the best possible games for this platform we could focus on nothing else.

To make matters even more complicated, we had already begun developing the next wave of games, which were still aligned with our original cross-platform strategy.

The time had come to make some hard decisions. We decided to kill all ongoing productions for web and Facebook and bet the entire company on a strategy that we started to call “tablet first”. We started by perfecting the game for iPad. We would modify it later for smartphones. As time passed, we shifted our strategy to “mobile first” as smartphones have grown and it became increasingly difficult to distinguish them from tablets. Today it’s clear that this was the right decision, but in the fall of 2011 it was less obvious.

Probably the hardest decision at the time was killing a game with the codename Magic. We had a passionate five-member team working on that game day and night for nearly six months straight, and we were all really excited about it. It looked amazing, and it was a game that had never been seen before on Facebook. But in the end we killed it and started to work on something new for tablets. What makes this story a classic is that it was the Magic team that ultimately developed Clash of Clans, which, funnily enough, was also codenamed Magic before getting its official name.

2011Gunshine Beta
New strategy: Tablet / Mobile
Kill Gunshine
Kill Magic
Pets vs. Orcs Beta
Veli and Timur launching Hay Day.2012
Veli and Timur launching Hay Day.
Previous
Next
<h4>Promising betas</h4>
By early 2012, we had five small teams working on new games, all for tablets and mobile. We knew that one of those games would have to be at least moderately successful for the company to have a future.

We’d learned a lot since Gunshine failed, and one of the most important lessons was this: It’s usually better to kill games earlier rather than later. If it starts to feel like the game isn’t going to work or isn’t fun enough, it’s usually a sign that you should have already killed it. In keeping with this thinking, we killed our first mobile game, Pets vs. Orcs, back in February. And we killed a game codenamed “Tower” later in the spring.

Another game was a farming game codenamed Soil, which would later be named Hay Day. Our goal was to develop a next generation farming game, specifically designed for touch and mobile from the ground up. There were two things we really wanted to focus on. The first was user interface; we wanted to the most of swipe and other controls specific to touch. The second was social, which lead us to design a real-time trading mechanism where players could buy and sell ingredients amongst themselves.

The Hay Day beta went live in Canada in May 2012. Until this point, every single beta launch we’d had as a company had been lukewarm at best and had eventually led us to kill the game later on. A few of them had garnered some initial interest, but player engagement soon started to wane. But Hay Day was different. The engagement was crazy from day one, and it just kept growing. Slowly we started to realize that perhaps, finally, we were onto something.

The game launched globally on June 21st. Everyone who worked at Supercell at that time will definitely remember this exact date because it happened to be Midsummer’s Eve, one of the biggest public celebrations in Finland. We had almost no player support at that time, simply because we never even imagined we’d have that kind of success. So practically everyone who worked at Supercell was online at their summer cottages answering player support tickets while enjoying the beautiful Midsummer celebrations. After that, we decided to stay away from launching major games on Midsummer’s Eve or other national holidays :)

Just before the start of summer vacations in Finland in July we released another new game to beta in Canada. Its codename was...Magic; a codename that later gave the name Clash of Clans, as you know. Many of us were fans of real-time strategy games and had played them online and on other platforms. With Magic, our original goal was make this type of game play accessible to the widest possible audience. And we wanted to use some of the unique characteristics of the touch interface to create a very special gaming experience on tablets. We also wanted to make the game as social as possible.

Clash of Clans launched globally in August 2012. People often ask us if there was a specific moment when we realized we had two hits on our hands. The truth is there wasn’t. Both Clash and Hay Day grew steadily from day one. It took Clash three months from launch to become the #1 top grossing game in the U.S.

The fifth game we’d been working on was called Battle Buddies, a player vs. player tactical shooting game inspired by games such as UFO: Enemy Unknown. Unfortunately, the game never garnered enough player interest to move out of beta, so we had to kill it too.

    </div>

</div>

{% endblock %}