{% extends 'base.html'%}
{% load static %}

{% block title %}
Esports
{% endblock %}
{% block x %}
    <div class="card mb-3 w-100" class="rounded">
        <div class="row g-0">
            <div class="col-md-6">
                <img alt="..." class="rounded" class="" src="{% static 'images/s1s.jpg'%}" height="450px"  width="630px" style="min-height:130px;">
            </div>
            <div class="col-md-6">
                <div class="card-body">

                    <h1 class="card-title">Clash of Clans</h1>
                    <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h4>LEAD YOUR CLAN TO VICTORY!</h4>
<i>Answer the call of the mustache! Join the international fray that is Clash of Clans. Customize your village, build an army and crush your opponents. Like using friendship to strike fear into your enemies?
    Join a Clan, or establish a Clashing legacy by creating your own. The choice is yours in this millions-strong community of
    Barbarians. Download for free and Clash on, Chief!</i></p><br>
                   &nbsp;&nbsp; <a href="https://play.google.com/store/apps/details?id=com.supercell.clashofclans&referrer=mat_click_id%3Df6890da7bad79ed3290aa334b12d358d-20141216-1681" class="btn btn-outline-worning text-mycolor btn-mycolor ">GooglePlay</a>
                    &nbsp;&nbsp;<a href="https://apps.apple.com/app/clash-of-clans/id529479190" class="btn btn-outline-worning  text-mycolor btn-mycolor ">App Stor</a>

                </div>
            </div>
        </div>
        </div>


<div class="card mb-3  rounded   w-100">
        <div class="row g-0">
            <div class="col-sm-7">
                <div class="card-body ">
                    <h1 class="card-title ">Clash of Royale</h1>
                    <p class="card-text"><h4>EPIC REAL-TIME CARD BATTLES</h4>
Clash Royale is a real-time multiplayer game starring the Royales, your favourite Clash characters and much, much more. Collect and upgrade dozens of cards featuring the Clash of Clans troops, spells and defenses you know and love, as well as the Royales: Princes, Knights, Baby Dragons and more. Knock the enemy King and Princesses from their towers to defeat your opponents and win Trophies, Crowns and glory in the Arena.</p>
                    <br><span class="btn btn-outline-worning text-mycolor btn-mycolor ">GooglePlay</span>
                    <span class="btn btn-outline-worning text-mycolor btn-mycolor ">App Stor</span>
                   </p>

                </div>
            </div>
            <div class="col-sm-5">
                <img alt="..." class="rounded" class=" " src="{% static 'images/g4.jpg'%}" height="450px"  width="620px" style="min-height:130px;">

            </div>

        </div>
    </div>
    </div>
    <div class="card mb-3 w-100" class="rounded">
        <div class="row g-0">
            <div class="col-md-6">
                <img alt="..." class="rounded" class="img-fluid rounded-start" src="{% static 'images/g12.jpg'%}"  height="480px"  width="650px">
            </div>
            <div class="col-md-6 ">
                <div class="card-body">
                    <h1 class="card-title">Hay Day</h1>
                    <p class="card-text"><h4>FARM WITH FRIENDS AND FAMILY</h4>
You don’t have to be from a farm to be a great farmer. Hay Day lets you get back to nature and experience the simple life of working the land. It’s a special game set in a real special place. Food grows free, people smile and the animals are always happy to see you. It never rains here, but the crops never die. And if you’re craving a little bacon, one of the pigs will be happy to fry some up for you. After all, what are pigs... oops, we mean neighbors for? </p>
                  <br> <span class="btn btn-outline-worning text-mycolor btn-mycolor">GooglePlay</span>
                    <span class="btn btn-outline-worning text-mycolor btn-mycolor ">App Stor</span>

                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 w-100" class="rounded" >
        <div class="row g-0">
            <div class="col-md-7">
                <div class="card-body">
                    <h1 class="card-title">Boom Beach</h1>
                    <p class="card-text"><h4>BUILD. PLAN. BOOM!</h4>
Come with a plan or leave in defeat! Welcome to Boom Beach, an epic combat strategy game where your brains and your troop’s brawn fight against the evil Blackguard. Attack bases to free enslaved islanders or create a task force with friends and other players to take on the enemy together, all while exploring and unlocking secrets of this beautiful archipelago. Scout, plan, then BOOM THE BEACH!</p>
                 <br>  <span class="btn btn-outline-worning text-mycolor btn-mycolor">GooglePlay</span>
                    <span class="btn btn-outline-worning text-mycolor btn-mycolor ">App Stor</span>

                </div>
            </div>
            <div class="col-md-5">
                <img alt="..."  src="{% static 'images/g2.jpg'%}" class="rounded" height="450px"  width="630px" style="min-height:130px;">

            </div>

        </div>
    </div>
    <div class="card mb-3 w-100" class="rounded">
        <div class="row g-0">
            <div class="col-md-6">
                <img alt="..."  src="{% static 'images/g8.jpg'%}"  class="rounded" height="450px"  width="630px" style="min-height:130px;">
            </div>
            <div class="col-md-6 ">
                <div class="card-body">
                    <h1 class="card-title">Brawl Stars</h1>
                    <p class="card-text"><h4>3V3 AND BATTLE ROYALE</h4>
Time to BRAWL! Team up with your friends and get ready for epic multiplayer MAYHEM! Brawl Stars is the newest game from the makers of Clash of Clans and Clash Royale. Jump into your favorite game mode and play quick matches with your friends. Shoot 'em up, blow 'em up, punch 'em out and win the BRAWL.</p>
                  <br> <span class="btn btn-outline-worning text-mycolor btn-mycolor">GooglePlay</span>
                    <span class="btn btn-outline-worning text-mycolor btn-mycolor ">App Stor</span>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
</div>
 </div>

{% endblock %}